<?xml version="1.0" encoding="UTF-8"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2022 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_SkroutzMarketplaceWebhook
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hippiemonkeys_skroutz>
            <marketplace>
                <send_invoice_email>0</send_invoice_email>
                <send_shipment_email>0</send_shipment_email>
                <default_order_email>thomas@hippiemonkeys.com</default_order_email>
                <default_order_country>GR</default_order_country>
                <default_order_telephone>0000000000</default_order_telephone>
                <default_order_fax>0000000000</default_order_fax>
                <new_order_store_id>0</new_order_store_id>
                <new_order_status_code>pending</new_order_status_code>
            </marketplace>
        </hippiemonkeys_skroutz>
    </default>
</config>