<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2022 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_SkroutzMarketplaceWebhook
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\CustomerInterface" type="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\Customer" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\InvoiceDetailsInterface" type="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\InvoiceDetails" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\LineItemInterface" type="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\LineItem" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\PickupLocationInterface" type="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\PickupLocation" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\PickupWindowInterface" type="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\PickupWindow" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\LineItemRejectionReasonInterface" type="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\LineItemRejectionReason" />
    <!-- Order -->
    <virtualType name="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\OrderRepository" type="Hippiemonkeys\SkroutzMarketplace\Model\OrderRepository">
        <arguments>
            <argument name="orderFactory" xsi:type="object">Hippiemonkeys\SkroutzMarketplaceWebhook\Model\OrderFactory</argument>
        </arguments>
    </virtualType>

    <virtualType name="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\PickupWindowRepository" type="Hippiemonkeys\SkroutzMarketplace\Model\PickupWindowRepository">
        <arguments>
            <argument name="resource" xsi:type="object">Hippiemonkeys\SkroutzMarketplaceWebhook\Model\ResourceModel\PickupWindow</argument>
        </arguments>
    </virtualType>
    <virtualType name="Hippiemonkeys\SkroutzMarketplaceWebhook\Model\LineItemRejectionReasonRepository" type="Hippiemonkeys\SkroutzMarketplace\Model\LineItemRejectionReasonRepository">
        <arguments>
            <argument name="resource" xsi:type="object">Hippiemonkeys\SkroutzMarketplaceWebhook\Model\ResourceModel\LineItemRejectionReason</argument>
        </arguments>
    </virtualType>
</config>